[ai_assessments] ai_assessments_risk_level_check: CHECK (((risk_level)::text = ANY ((ARRAY['Low'::character varying, 'Medium'::character varying, 'High'::character varying])::text[])))
[ai_assessments] ai_assessments_risk_score_check: CHECK (((risk_score >= 1) AND (risk_score <= 10)))
[doctors] doctors_experience_years_check: CHECK ((experience_years >= 0))
[emergency_alerts] emergency_alerts_triggered_by_check: CHECK (((triggered_by)::text = ANY ((ARRAY['AI'::character varying, 'Manual'::character varying])::text[])))
[patients] patients_age_check: CHECK (((age >= 0) AND (age <= 120)))
[patients] patients_gender_check: CHECK (((gender)::text = ANY ((ARRAY['Male'::character varying, 'Female'::character varying, 'Other'::character varying])::text[])))
[patients] patients_heart_rate_check: CHECK ((heart_rate > 0))
[patients] patients_risk_level_check: CHECK (((risk_level)::text = ANY ((ARRAY['Low'::character varying, 'Medium'::character varying, 'High'::character varying])::text[])))
[patients] patients_temperature_check: CHECK (((temperature >= (30)::numeric) AND (temperature <= (45)::numeric)))
[users] users_role_check: CHECK (((role)::text = ANY ((ARRAY['Admin'::character varying, 'Recipient'::character varying, 'Doctor'::character varying, 'Patient'::character varying])::text[])))
[visits] visits_status_check: CHECK (((status)::text = ANY ((ARRAY['Waiting'::character varying, 'In Consultation'::character varying, 'Completed'::character varying, 'Cancelled'::character varying])::text[])))
[visits] visits_visit_type_check: CHECK (((visit_type)::text = ANY ((ARRAY['Walk-In'::character varying, 'Online'::character varying])::text[])))